<body>
  <div class="ipad-front">
    <div class="ipad-front-camera"><span></span></div>
    <div class="ipad-front-display"></div>
    <div class="ipad-front-home-button"><span></span></div>
  </div>
  <div id="typewriter">
    <%= image_tag('typewriter.png') %>
    <div id="typewriter-copy">
      <h2>Automotive exhaustion:<br/>Addressing your likely portfolio concern.</h2>
      <p>
        Just because I steered copy for a few car brands does not mean that this finely-tuned creative engine has stalled into automotive cliche. So let's tap the brakes on that right now. With experience ranging from semiconductors to smoothies, there's no reason for any of us to blow a creative-resourcing gasket.
      </p>
      <p>
        Here's what I'm driving at: take a look under the hood and you'll find a nicely-equipped model--advertising at a wholly reasonable suggested retail price--ready to jump-start any client in the convoy.
      </p>
    </div>
  </div>
  <div id="portfolio-list">
    <div id="header">
      <h3 class="left">Brooklyn/Los Angeles/Austin</h3>
      <h3 class="right"><a href="#">chrisheher1@gmail.com</a></h3>
    </div>
    <p>An insight, piercing as it is simple. Its execution, chiseled by a righteous application of language. And its confidence, rendered by a professional who tackles brand deliverables with a scholar's depth and a disciple's passion.</p>
    <p>Chris Heher holds himself accountable to both client and agency through daring, yet still somehow on-brief digital content and concepts. A willing collaborator and genial dude, this is the only profession he's ever known.</p>
    <h4>View samples by hovering cursor on desired headline.</h4>
    <h4>Mercedes-Benz, State Farm via Razorfish</h4>
    <p>Fast made slow. // Avant-garde allure. En garde aggression. // The lap of luxury, lapped. // <a href="#">Choose wisely.</a> // <a href="#">Innovation page.</a></p>
    <h4>Toyota, Canon via 3601</h4>
    <p>Guilt-free as charged. // <a href="#">Canon technology page.</a> // <a href="#">Toyota + Environment</a> // <a href="#">Toyota + Community</a></p>
    <h4>Audi via designory</h4>
    <p>Taunt inertia. // Every fleet requires a flagship. // The beating heart of luxury. // <a href="#">a7 digital brochure.</a></p>
    <h4>Bosch via designory</h4>
    <p>Complements of the chef. // Become a short-order cook in short order.</p>
    <h4>Freelance potpourri</h4>
    <p>Save the Music Foundation // Under Armour // Carmex // Arbor Mist // Blue Cross Blue Shield // Butter Vinyl // Cisco // EMI Music // Guitar Center // Helio // Jamba Juice // KB Home // Petco // Scion // Trudeau's Debt Cures</p>
  </div>
</body>
