<body>
  <div id="typewriter">
    <img src="assets/typewriter.png" />
    <div id="typewriter-copy">
      <h2>Automotive exhaustion: Addressing your likely portfolio concern.</h2>
      <p>
        Just because I steered copy for a few car brands does not mean that this finely-tuned creative engine has stalled into automotive cliche. So let's tap the brakes on that right now. With experience ranging from semiconductors to smoothies, there's no reason for any of us to blow a creative-resourcing gasket.
      </p>
      <p>
        Here's what I'm driving at: take a look under the hood and you'll find a nicely-equipped model--advertising at a wholly reasonable suggested retail price--ready to jump-start any client in the convoy.
      </p>
    </div>
  </div>
</body>
