// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@font-face {
  font-family: 'Aleo-Regular';
  src: url(font-path('Aleo-Regular.otf'));
}

body {
  background: image-url('brick-background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  #typewriter {
    position: fixed;
    bottom: 0;
    right: 0;

    img {
      max-width:100% !important;
      height:auto;
      display:block;
    }
  }

  #typewriter-copy {
    position: absolute;
    top: -20%;
    right: 15%;

    background: #FFF;
    width: 60%;
    font-family: 'Aleo-Regular', serif;

    h2 {
      text-align: center;
    }
  }
}